/* Global settings */
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    background-color: whitesmoke;
}

body {
    margin: 0;
    font-size: 1.5rem;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(74, 74, 74);
}

/* Desktop first version */


/* nav styling */

/* logo */

nav h1 {
    font-family: 'Cookie', cursive;
    font-weight: 100;
    font-size: 5rem;
}

nav h1 span {
    font-weight: 900;
}

nav {
    box-shadow: 0 1px 4px rgb(146 161 176 / 25%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    height: 8vh;
    padding: 2em;
    position: relative;
}

.top-nav ul {
    list-style-type: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

.top-nav a {
    text-decoration: none;
    font-size: 1.7rem;
    position: relative;
    padding: .5em;
    color:whitesmoke;
}

.top-nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    background-color: rgb(157, 157, 157);
    height: .15em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.top-nav a:hover::after {
    width: 100%;
}
/* styling the burger icon */

.burger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}


.line {
    width: 3em;
    height: .3em;
    background-color: whitesmoke;
    margin: .7em;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

/* styling the social media links */

.social-media-links {
    display: flex;
    justify-content: center;
}

.social-media-links svg {
    color: black;
}

/* the one is bigger than the other so i cant style them in svg */
.github,
.facebook {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 3rem;
}

.github svg {
    width: 10rem;
    height: 10rem;
}

.facebook svg {
    width: 7rem;
    height: 7rem;
}

.social-media-links a {
    display: flex;
    color: rgba(251, 251, 251, 0.961);
    text-decoration: none;
}

section img {
    width: 50%;
    height: 50%;
}

/* styling the cv section */

.main-cv {
    margin: 3rem 5rem 2rem 8rem;
}

.header-profile {
    display: flex;
    flex-direction: column;
}

.header-profile img {
    width: 15rem;
    height: 15rem;
    border-radius: 100px;
}

.info {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.info-element-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.info h3 {
    margin-right: 6rem;
}

.desc-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.experience h2,
.education h2,
.skills h2 {
    position: relative;
}

/* making the highlight under the h tag */

.experience h2::after,
.education h2::after,
.skills h2::after {
    content: "";
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    width: 100%;
    background-color: rgb(157, 157, 157);
    height: .15em;
    border-radius: 20px;
}

.main-cv li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.skills li {
    gap: 0.3rem;
}

.skills h3 {
    margin-right: 5rem;
}


@media only screen and (max-width: 1000px) {
    .burger {
        display: block;
        transition: 3s ease-in-out;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-8px);
    }
    /* display none for bug if resizing window */
    .top-nav ul {
        display: none;
        position: absolute;
        right: 0;
        top: 5vh;
        background-color:rgb(182, 182, 182);
        height: 94vh;
        flex-direction: column;
        text-align: center;
        transform: translate(100%);
        transition: 0.3s ease-in-out;
    }


    .top-nav ul.active {
        display: flex;
        justify-content: flex-start;
        transform: translate(0%);
    }

    .top-nav a {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .top-nav ul.active li {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 760px) {
    .top-nav ul {
        width: 50%;
    }

    svg {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .skills ul {
        position: absolute;
    }
}
